@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;600&display=swap');
*{
    font-family: 'Dancing Script', cursive;
}
body{
    background-color: linear-gradient(231deg, #c7a59c, #7bdbe2) ;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#generator-box{
    text-align: center;
    padding: 1em;
    background-color: white;
}
#generator-citation{
    font-size: 3em;
}
#generator-button{
    font-size: 2em;
    background-color: #ABEBC6;
    padding: 1.5em;
}